.quiz-score {
	color: black;
	text-align: center;
	background-color: white;
	width: 33%;
	height: 15%;
	float: right;
	margin-top: 66px;
	padding: 5px;
	text-shadow: none;
	border-radius: 1px;
}
.score {

}
.next-button {
	margin: 15px 0 0 5px;

}

.count {
	padding: 25px 15px 0;
	text-shadow: none;
}
.final {

}

.final-score {
	text-align: center;

}

.retry {
	background-color: #ee6e73;
}
