.quiz-score {

	text-align: center;
	background-color: #8bc34a;

	width: 33%;
	height: 15%;
	border-radius: 3px;
	float: right;
	margin-top: 54px;
	padding: 5px;
}
.score {

}
.next-button {
	margin-top: 10px;

}

.count {
	padding: 5px;
}
