// CSS Reset
@import "~reset-css/reset.css";
// Materialize-css
@import "~materialize-css/dist/css/materialize.css";



// Box sizing
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	box-sizing: border-box;
	background-color: #607d8b;
	// overflow: hidden;
	color: white;
	text-shadow: 1px 1px #424242;


}

footer {
	bottom: 5px;
	position: fixed;
	text-align: center;
	width:100%;
	z-index: -1;

}
